<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora write</title>
    <link  rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>here you write your Quora post</h1>
    <form method="post"  action="/posts">
        <label name="text" >Username</label>
        <input placeholder="enter the username" name="username">
        <br> <br>
        <!-- <label name="text" >Content</label> -->
        <textarea  cols="18" rows="6" placeholder="enter the content" name="content" ></textarea>
        <br>
  <br>
        <button>Submit</button>
    </form>
</body>
</html>